<h2 class="text-center">Bienvenu sur mon {{ title | uppercase}}</h2>
<div class="container">
  <div class="row">
      <div class="col-xs-12">
         <h4>Liste des Posts</h4>
         <ul class="list-group">
            <app-postlist *ngFor="let post of posts"
                         [postTitle]="post.title"
                          [postContent]="post.content"
                          [postCreatedAt]="post.created_at"
                          [postLoveIts]="post.loveIts"></app-postlist>

         </ul>
      </div>

   </div>
  </div>
      