<li [ngClass]="{'list-group-item':true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0,
                 'list-group-item-default': postLoveIts === 0 }">


    <span class="badge">{{ postCreatedAt | date: 'dd /MM/yyyy à H:mm' }}</span>             
    <h4><span class="label label-primary">{{ postTitle }}</span></h4>
    <p>{{ postContent }} </p>
    
    <button type="button" class="btn btn-success" (click)="addPoint()">Love it</button>&nbsp;
    <button type="button" class="btn btn-danger" (click)="lessPoint()">Don't Love it</button>

</li>
